node_modules
**/node_modules
**/.git
**/.DS_Store
**/*.log
**/coverage
**/dist
**/miniprogram_npm
**/test-results
**/.idea
**/.vscode
server/.env
server/.env.*
WeChatDeloy/miniprogram_npm
WeChatDeloy/node_modules
WeChatDeloy/miniprogram/co_modules
**/scripts
**/skills-lock.json